
@import url('./reset.css');

section {
  text-align: center;
}

input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border-color: #808080;
}

input:hover {
  border-color: black;
}

.pressed {
border-color: #4E75FF;
}

button {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: #4E75FF;
  color: #ffffff;
}

button:hover {
  background-color: #6C8CFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 20px;

}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-item {
  border: 2px solid #000000;
  border-radius: 2px;
  
}
.list {
  display: flex;
 
}

.list-info {
  width: 90px;
}


